
<div class="row">
<form class="example-form w-100" [formGroup]="searchform">
  <div class="input-group">
    <div class="form-group col-sm-6">
        <mat-form-field class="w-100">
            <mat-label>Search location</mat-label>
            <mat-icon matPrefix class='mr-2'>location_on</mat-icon>
            <input matInput type="text" placeholder="Search location"  autocomplete="off" formControlName="currentLocation" />
        </mat-form-field>
    </div>

    <div class="form-group col-sm-5">
        <mat-form-field class="w-100">
          <mat-icon matPrefix class='mr-2'>search</mat-icon>
            <input type="text"
                placeholder="Search doctors, clinics, hospitals, etc."
                aria-label="Number"
                matInput
                formControlName="searchText"
                [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="optionSelEv($event)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div class="form-group col-sm-1">
      <button mat-stroked-button color="primary" (click)="sendMessage()">Search</button>
    </div>
  </div>

<div class="bg-light p-3">
  <a class="btn btn-secondary mr-3 dropdown-toggle btn-sm" href="#" (click)="isCollapsed = !isCollapsed"
  [attr.aria-expanded]="!isCollapsed" >
    Filters
  </a>
  <a class="btn btn-success btn-sm float-right" (click)="openModal()" href="#">
    Download App & Book Appointment Now
  </a>
  <div class="collapse w-100" [ngbCollapse]="isCollapsed">
    <div class="card card-body">
      <div class="row">
        <div class="col-sm-3">
          <label>Select an Gender</label>
          <mat-radio-group formControlName="gender">
            <mat-radio-button  class="w-100" *ngFor="let genderfilter of genderList" 
            [value]="genderfilter.key" (change)="buttonChangeEv($event)">{{genderfilter.value}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
  
        <div class="col-sm-3">
          <label>Price</label>
          <mat-radio-group formControlName="sortFees">
            <mat-radio-button  class="w-100" *ngFor="let price of priceList" 
            [value]="price.key" (change)="buttonChangeEv($event)">{{price.value}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
</div>
<div id="myclnqBannerSlider" class="carousel slide row mb-3" data-ride="carousel">
  <div class="carousel-inner text-center pt-4 pb-4" style="background:#f7f7f7;">
    <!-- <div class="carousel-item" *ngFor="let image of imageBanner let i = index" [ngClass]="{'active' : i == 0}">
      <img [src]="'./assets/' + item.imgSrc" alt="Random first slide">
    </div> -->
    <div class="carousel-item active"  *ngIf="defaultSGCountryBanner">
      <div class="container">
        <div class="row">
        <div class="col-sm-6 text-left">
          <h4 class="text-info">To prevent infection and to slow transmission of COVID-19, do the following:</h4>
          <ul>
            <li>Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.</li>
            <li>
              Maintain at least 1 metre distance between you and people coughing or sneezing.
            </li>
            <li>Avoid touching your face.</li>
            <li>Cover your mouth and nose when coughing or sneezing.</li>
            <li>Stay home if you feel unwell.</li>
            <li>Refrain from smoking and other activities that weaken the lungs.</li>
            <li>Practice physical distancing by avoiding unnecessary travel and staying away from large groups of people.</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="./assets/banner-1.jpg" alt="" class="img-fluid mb-4" />
        </div>
      </div>
      </div>
    </div>
    <div class="carousel-item" *ngIf="!defaultSGCountryBanner">
      <div class="container">
        <div class="row">
        <div class="col-sm-6 text-left">
          <h4 class="text-info">To prevent infection and to slow transmission of COVID-19, do the following:</h4>
          <ul>
            <li>Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.</li>
            <li>
              Maintain at least 1 metre distance between you and people coughing or sneezing.
            </li>
            <li>Avoid touching your face.</li>
            <li>Cover your mouth and nose when coughing or sneezing.</li>
            <li>Stay home if you feel unwell.</li>
            <li>Refrain from smoking and other activities that weaken the lungs.</li>
            <li>Practice physical distancing by avoiding unnecessary travel and staying away from large groups of people.</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="./assets/banner-2.jpg" alt="" class="img-fluid mb-4" />
        </div>
      </div>
      </div>
    </div>
    <div class="carousel-item"  *ngIf="defaultSGCountryBanner">
      <div class="container">
        <div class="row">
        <div class="col-sm-6 text-left">
          <h4 class="text-info">Covid 19 Corona Virus</h4>
          <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.</p>
          <p>Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.</p>
          <p>The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face.</p>
        
        </div>
        <div class="col-sm-6">
          <img src="./assets/banner-3.jpg" alt="" class="img-fluid mb-4" />
        </div>
      </div>
      </div>
    </div>
    <div class="carousel-item active"  *ngIf="!defaultSGCountryBanner">
      <div class="container">
        <div class="row">
        <div class="col-sm-6 text-left">
          <h4 class="text-info">Covid 19 Corona Virus</h4>
          <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.</p>
          <p>Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.</p>
          <p>The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face.</p>
        
        </div>
        <div class="col-sm-6">
          <img src="./assets/banner-4.jpg" alt="" class="img-fluid mb-4" />
        </div>
      </div>
      </div>
    </div>
    <div class="carousel-item"  *ngIf="defaultSGCountryBanner">
      <div class="container">
        <div class="row">
        <div class="col-sm-6 text-left">
          <h4 class="text-info ">The COVID-19 virus affects different people in different ways.</h4>
          <h5>Common symptoms include:</h5>
          <ul>
            <li>fever</li>
            <li>tiredness</li>
            <li>dry cough.</li>
          </ul>
          <h5>Other symptoms include:</h5>
          <ul>
            <li>shortness of breath</li>
            <li>aches and pains</li>
            <li>sore throat</li>
            <li>and very few people will report diarrhoea, nausea or a runny nose.</li>
          </ul>
          
        </div>
        <div class="col-sm-6">
          <img src="./assets/banner-5.jpg" alt="" class="img-fluid mb-4" />
        </div>
      </div>
      </div>
    </div>
    <div class="carousel-item"  *ngIf="!defaultSGCountryBanner">
      <div class="container">
        <div class="row">
        <div class="col-sm-6 text-left">
          <h4 class="text-info ">The COVID-19 virus affects different people in different ways.</h4>
          <h5>Common symptoms include:</h5>
          <ul>
            <li>fever</li>
            <li>tiredness</li>
            <li>dry cough.</li>
          </ul>
          <h5>Other symptoms include:</h5>
          <ul>
            <li>shortness of breath</li>
            <li>aches and pains</li>
            <li>sore throat</li>
            <li>and very few people will report diarrhoea, nausea or a runny nose.</li>
          </ul>
          
        </div>
        <div class="col-sm-6">
          <img src="./assets/banner-6.jpg" alt="" class="img-fluid mb-4" />
        </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myclnqBannerSlider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-image:url(./assets/arrow-prev.png);"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myclnqBannerSlider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true" style="background-image:url(./assets/arrow-next.png);"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- <ngb-carousel class="text-center pt-4 pb-4" style="background:#fd1000;">
  <ng-template ngbSlide *ngFor="let item of imageBanner">
    <div class="picsum-img-wrapper" *ngIf="item.countryCode === countryCode">
      <img [src]="'./assets/' + item.imgSrc" alt="Random first slide">
    </div>
  </ng-template>
</ngb-carousel> -->
    