<!-- Image and text -->
<nav class="navbar navbar-light navbar-expand-lg shadow-sm">
    <a class="navbar-brand" href="https://ssivixlab.com/myclnqs/doctors">
        <img src="./assets/myclnq-logo.png" height="84" class="d-inline-block align-top" alt="ssivilab-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="../../myclnqs/doctors/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="https://ssivixlab.com/community/" target="_blank">About</a></li>
            <li class="nav-item"><a class="nav-link" href="https://ssivixlab.com/services/" target="_blank">Services</a></li>
            <li class="nav-item"><a class="nav-link" href="https://ssivixlab.com/news/" target="_blank">Blogs</a></li>
            <li class="nav-item"><a class="nav-link" href="https://ssivixlab.com/contacts/" target="_blank">Contact Us</a></li>
        </ul>
    </div>
</nav>



