<!-- Footer -->
<footer class="page-footer font-small bg-light">
   <!-- Footer Links -->
   <div class="container-fluid pt-4">
 
     <!-- Grid row -->
     <div class="row mt-3 text-secondary">
 
       <!-- Grid column -->
       <div class="col-md-3 col-lg-3 col-xl-2 mb-4">
 
         <!-- Content -->
         <h6 class="text-uppercase font-weight-bold">QUICK LINKS</h6>
         <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
         <p>
            <a class="text-secondary" href="../../myclnqs/doctors/">Home</a>
          </p>
          <p>
            <a class="text-secondary" href="https://ssivixlab.com/community/" target="_blank">About</a>
          </p>
          <p>
            <a class="text-secondary" href="https://ssivixlab.com/services/" target="_blank">Services</a>
          </p>
          <p>
            <a class="text-secondary" href="https://ssivixlab.com/news/" target="_blank">Blog</a>
          </p>
          <p>
            <a class="text-secondary" href="https://ssivixlab.com/contacts/" target="_blank">Contact</a>
          </p>
 
       </div>
       <!-- Grid column -->
 
       <!-- Grid column -->
       <div class="col-md-3 col-lg-3 col-xl-5 mb-4">
 
         <!-- Links -->
         <h6 class="text-uppercase font-weight-bold">Common Searches</h6>
         <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
         <div class="row">
            <div class="col-xl-6">
               <p *ngFor="let item of clinicServices | slice:0:5">
                  <a class="text-secondary" href="javascript:void(0)" (click)="getbyType(item)" >{{item}}</a>
                </p>
            </div>
            <div class="col-xl-6">
              <p  *ngFor="let item of clinicServices | slice:5:10">
                <a class="text-secondary" href="javascript:void(0)" (click)="getbyType(item)">{{item}}</a>
              </p>
            </div>
         </div>
         
       </div>
       <!-- Grid column -->
 
       <!-- Grid column -->
       <div class="col-md-3 col-lg-3 col-xl-2 mb-4">
 
         <!-- Links -->
         <h6 class="text-uppercase font-weight-bold">Cities</h6>
         <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
         <p *ngFor="let item of locationList | slice:0:5">
          <a class="text-secondary" href="javascript:void(0)" (click)="getbyLocation(item)" >{{item}}</a>
         </p>
       </div>
       <!-- Grid column -->
 
       <!-- Grid column -->
       <div class="col-md-3 col-lg-3 col-xl-3 mb-4">
 
         <!-- Links -->
         <h6 class="text-uppercase font-weight-bold">Contact</h6>
         <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
         <p>If you are interested in working with us then please drop us a line, we would love to hear from you.<br/><br/>
            #27-15, 10 Anson Road,<br/>
            International Plaza,<br/>
            Singapore - 079903<br/>
            Phone: +65 8189 3129<br/>
            Email: <a href="mailto:sales@ssivixlab.com">sales@ssivixlab.com</a></p>
        
       </div>
       <!-- Grid column -->
 
     </div>
     <!-- Grid row -->
 
   </div>
   <!-- Footer Links -->
 
   <!-- Copyright -->
   <div class="border-top p-3">
      <span class="small">Copyright &copy; 2020 <strong>SSIVIX LAB Transforming World Into Reality</strong>. All Rights Reserved</span>
   </div>
   <!-- Copyright -->
 
 </footer>
 <!-- Footer -->