<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Enquiry</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="" [formGroup]="enquiryForm" autocomplete="off" novalidate>
  <div class="modal-body">
    <div class="modal-body">
      <div class="form-group">
        <label for="Name">Name*</label>
        <input type="text" class="form-control" id="Name" required formControlName="name">
      </div>
      <div class="form-group">
        <label for="Contact">Contact No*</label>
        <input type="text" class="form-control" id="Contact" required formControlName="phone">
      </div>
      <div class="form-group">
        <label for="Email">Email ID*</label>
        <input type="email" class="form-control" id="Email" required formControlName="email">
      </div>
      <div class="form-group">
        <label for="Message">Message*</label>
        <textarea class="form-control" id="Message" rows="3" formControlName="message"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="submit" class="btn btn-primary" (click)="passBack()">Send</button> -->
    <button type="submit" class="btn btn-primary" [disabled]="!enquiryForm.valid"
    (click)="submit(enquiryForm.value)">Send</button> 
  </div>
</form>