.downloadModal{ 
    background-repeat: no-repeat;
    background-position: center top;background-size:cover;border:0;border-radius:0;}
.downloadModal .modal-header, .downloadModal .modal-body{z-index:1;position:relative;}
.downloadModal .close{color:red;text-shadow: 0 1px 0 red;opacity:1;}
.downloadModal:before{    content: "";
    background: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;}