<div class="downloadModal" style="background-image: url('./assets/mobile-app-download-1.jpg');">
<div class="modal-header border-0">
    <h4 class="modal-title text-white" id="modal-basic-title">Download App & Book Appointment Now</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <h6 class="mb-3 text-white">Get the App:</h6>
        <a href="https://play.google.com/store/apps/details?id=com.ssivixlab.MYCLNQ&amp;hl=en" target="_blank"><img src="./assets/google-play.png"  class="mr-2 mb-3" alt="" /></a>
        <a href="https://apps.apple.com/us/app/myclnq/id1436460772" target="_blank" ><img src="./assets/app-store.png" alt="" class="mb-3" /></a>
      </div>
      <div class="col-sm-6">
        <h6 class="text-white">QR Code:</h6>
          <img src="./assets/download_app_qr.png" class="mb-3 mt-1" alt="" />
      </div>
    </div>
  </div>
</div>
  <!--<div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="passBack()">Send</button>
  </div> -->