<div class="container">
    <nav aria-label="breadcrumb" class="row d-flex justify-content-end">
        <ol class="breadcrumb bg-white mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Doctor's Profile</li>
        </ol>
    </nav>
    <div class="media border p-3 rounded bg-info">
        <img class="mr-3" src="./assets/user.png" alt="Generic placeholder image" width="150">
        <div class="media-body">
            <h5 class="mt-0 text-white mb-2">{{doctorProfileData.name}}</h5>
            <p class="mb-0 text-white" *ngFor="let edu of doctorProfileData.education | slice:0:1">{{edu}}</p>
            <p class="text-white">{{doctorProfileData.specialization}}</p>
            <!-- <p>Notes: <a href="#" class="text-primary">more...</a></p> -->
            <div class="col-md-12">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-sm-9 col-md-9">
    <div class="mt-4 mb-4">
        <ul id="tabs" class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">Info</a>
            </li>
            <li class="nav-item">
                <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">Clinic Hours</a>
            </li>
            <li class="nav-item">
                <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">Feedback</a>
            </li>
        </ul>


        <div id="content" class="tab-content" role="tablist">
            <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
                <div class="card-header" role="tab" id="heading-A">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapse-A" aria-expanded="true" aria-controls="collapse-A">
                            Info
                        </a>
                    </h5>
                </div>

                <div id="collapse-A" class="collapse show" data-parent="#content" role="tabpanel" aria-labelledby="heading-A">
                    <div class="card-body border-left border-right border-bottom pb-0">
                        <div class="row mb-3">
                            <div class="col-xl-7">
                                <div class="media mb-3">
                                    <img class="mr-3" src="./assets/hospital.png" alt="Generic placeholder image" width="60">
                                    <div class="media-body">
                                        <h6 class="mb-0 text-info">{{doctorProfileData.nameOfClinic}}</h6>
                                        <p class="text-secondary">{{doctorProfileData.clinicAddress}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <a class="btn btn-secondary mb-3 btn-sm justify-content-center d-flex align-items-center w-30"  (click)="openModal(doctorProfileData)" href="javascript:void();">
                                            <mat-icon class="mr-2"> call</mat-icon>Enquiry</a>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <a class="btn btn-success mb-3 btn-sm justify-content-center d-flex align-items-center w-30" 
                                        data-toggle="collapse" href="#contactClinicNo" role="button" aria-expanded="false" 
                                        aria-controls="contactClinicNo" (click)="contactClickCall(doctorProfileData)">
                                            <mat-icon class="mr-2"> call</mat-icon>Contact Clinic</a>
                                    </div>
                                    <div class="collapse" id="contactClinicNo">
                                        <div class="pl-3">
                                            <p class="mb-2">Phone number</p>
                                            <h6 class="text-success">
                                                <a [href]="'skype:' + doctorProfileData.contactNumber + '?call'  |safe: 'resourceUrl'" ><img src="./assets/skype-icon.png" alt="" width="30" height="30" class="mr-2"/></a>
                                                <a [href]="'whatsapp://send?text=How can i help you? or Call me!&phone=' + doctorProfileData.contactNumber |safe: 'resourceUrl' "><img src="./assets/whatsapp-icon.png" alt="" width="30" height="30" class="mr-2"/></a>
                                                <a [href]="'tel:' + doctorProfileData.contactNumber  |safe: 'resourceUrl'"><img src="./assets/call-icon.png" alt="" width="30" height="30" class="mr-2"/></a>{{doctorProfileData.contactNumber}} 
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Services" class="mb-3 border-bottom pb-2 mb-4" *ngIf="doctorProfileData.clinicServices">
                            <div class="shadow-sm p-3 mb-3 h-100 border rounded">
                                <h6 class="text-secondary">Services</h6>
                                <ul class="row no-gutters">
                                    <ng-container *ngFor="let service of doctorProfileData.clinicServices; let i = index;">
                                        <li class="col-sm-6 col-md-4 col-lg-3 mb-2 pr-4" *ngIf="i < 12; else serviceList">{{service}}</li>
                                        <ng-template #serviceList>
                                            <li class="col-sm-6 col-md-4 col-lg-3 mb-2 pr-4 serviceList"  *ngIf="isShown">{{service}}</li>
                                        </ng-template>
                                        <ng-container *ngIf="i == doctorProfileData.clinicServices.length - 1 && i > 12">
                                            <div class="text-right w-100"><a (click)="toggleShow()" href="javascript:void(0);"><span *ngIf="!isShown">More...</span><span *ngIf="isShown">Less...</span></a></div>
                                        </ng-container>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <div class="row shadow-sm p-3 border rounded">
                            <div class="col-md-6 col-lg-6 mb-3 border-bottom" *ngIf="doctorProfileData.specialization">
                                <h6 class="text-secondary">Specializations</h6>
                                <ul>
                                    <li class="mb-2">{{doctorProfileData.specialization}}</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-6 mb-3 border-bottom" *ngIf="doctorProfileData.education">
                                <h6 class="text-secondary">Education</h6>
                                <ul>
                                    <li class="mb-2" *ngFor="let edu of doctorProfileData.education">{{edu}}</li>
                                </ul>
                            </div>
                            <!--<div class="col-md-6 col-lg-6 mb-3 border-bottom">
                                <h6 class="text-secondary">Awards and Recognitions</h6>
                                <ul>
                                    <li class="mb-2">NA</li>
                                </ul>
                            </div> -->
                            <div class="col-md-6 col-lg-6 mb-3 border-bottom" *ngIf="doctorProfileData.membership">
                                <h6 class="text-secondary">Memberships</h6>
                                <ul>
                                    <li class="mb-2" *ngFor="let membership of doctorProfileData.membership">{{membership}}</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-6 mb-3 border-bottom" *ngIf="doctorProfileData.totalExperience">
                                <h6 class="text-secondary">Experience</h6>
                                <ul>
                                    <li class="mb-2">{{doctorProfileData.totalExperience}} years</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-6 mb-3 border-bottom" *ngIf="doctorProfileData.medicalRegistration">
                                <h6 class="text-secondary">Registrations</h6>
                                <ul>
                                    <li class="mb-2">{{doctorProfileData.medicalRegistration}}</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-6 mb-3 border-bottom" *ngIf="doctorProfileData.establishment">
                                <h6 class="text-secondary">Establishment</h6>
                                <ul>
                                    <li class="mb-2">{{doctorProfileData.establishment}}</li>
                                </ul>
                            </div> 
                            <!--<div class="col-md-6 col-lg-6 mb-3 border-bottom">
                                <h6 class="text-secondary">Trainings and Certifications</h6>
                                <ul>
                                    <li class="mb-2">NA</li>
                                </ul>
                            </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                <div class="card-header" role="tab" id="heading-B">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">
                            Clinic Hours
                        </a>
                    </h5>
                </div>
                <div id="collapse-B" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-B">
                    <div class="card-body border-left border-right border-bottom">
                        <div class="mb-3">
                            <h6 class="text-success">Timings</h6>
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <table class="table table-bordered mt-2">
                                        <tr *ngFor="let item of doctorProfileData.operationDays">
                                            <td>{{item.day}}</td>
                                            <td>
                                                <ng-container *ngIf="item.timings && item.isActive; else elseTemplate">
                                                    <p *ngFor="let time of item.timings">
                                                        {{getTime(time).start | date:'shortTime'}} - 
                                                        {{getTime(time).end | date:'shortTime'}}
                                                    </p>        
                                                </ng-container>
                                                <ng-template #elseTemplate>
                                                    Closed
                                                </ng-template>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
                <div class="card-header" role="tab" id="heading-C">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse-C" aria-expanded="false" aria-controls="collapse-C">
                            Feedback
                        </a>
                    </h5>
                </div>
                <div id="collapse-C" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-C">
                    <div class="card-body border-left border-right border-bottom">
                        coming soon...
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <h5 class="mt-5 text-info">Download App & Book Appointment Now </h5>
        <a href="https://play.google.com/store/apps/details?id=com.ssivixlab.MYCLNQ&amp;hl=en" target="_blank"><img src="./assets/google-play.png"  class="mt-2 mb-3" alt="" /></a>
        <a href="https://apps.apple.com/us/app/myclnq/id1436460772" target="_blank" ><img src="./assets/app-store.png" alt="" class="mb-3" /></a>
        <img src="./assets/download_app_qr.png" class="mb-3 mt-1" alt="" />
    </div>
</div>