.nav-tabs {
    display:none;
}
.nav-tabs .nav-link{
    font-weight: 500;
}
#contactClinicNo.collapse{
    display: none;
}
#contactClinicNo.collapse.show{
    display: block;
}
@media(min-width:768px) {
    .nav-tabs {
        display: flex;
    }
    
    .card {
        border: none;
    }

    .card .card-header {
        display:none;
    }  

    .card .collapse{
        display:block;
    }
}

@media(max-width:767px){
    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
    }
}