<div class="container-fluid" *ngIf="isdataLoaded">
    <div class="row" *ngIf="doctorListData.length > 0">
        <div class="col-md-12 col-lg-6" *ngFor="let doctorInfo of doctorList; let i = index;">
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <div class="media">
                        <img class="mr-3" src="./assets/user.png" width="120" alt="profile image">
                        <div class="media-body">
                            <div class="row">
                                <div class="col-sm-7">
                                    <h5 class="mt-0 text-info">{{doctorInfo.name}}</h5>
                                    <p class='mb-1'>Specialization: {{doctorInfo.specialization}}</p>
                                    <p class="small">{{doctorInfo.totalExperience}} year(s) of experience</p>
                                    <p class='mb-2'><a routerLink="{{getLink(doctorInfo)}}" href="{{getLink(doctorInfo)}}" target="_blank" class="text-secondary">{{doctorInfo.nameOfClinic}}</a></p>
                                    <ng-container *ngIf="doctorInfo.clinicServices[0]">
                                    <span style="max-width: 120px;" class="d-inline-block text-truncate p-1 mb-0 small mr-1 bg-light text-dark" matTooltip="{{service}}" *ngFor="let service of doctorInfo.clinicServices | slice:0:5">{{service}}</span><br/>
                                        <a routerLink="{{getLink(doctorInfo)}}" href="{{getLink(doctorInfo)}}" role="button" target="_blank" title="">View all {{doctorInfo.clinicServices.length}} services</a>
                                    </ng-container>
                                </div>
                                <div class="col-sm-5">
                                    <ul class="list-group mb-2">
                                        <li class="list-group-item d-flex border-0 p-0 align-items-center">
                                            <span class="badge"><mat-icon>location_on</mat-icon></span>
                                            <a routerLink="{{getLink(doctorInfo)}}" href="{{getLink(doctorInfo)}}" target="_blank" matTooltip="{{doctorInfo.clinicAddress}}" 
                                            class="text-truncate text-secondary" style="width:150px;">{{doctorInfo.clinicAddress}}</a>
                                        </li>
                                        <li class="list-group-item d-flex border-0 p-0 align-items-center">
                                            <span class="badge"><mat-icon>credit_card</mat-icon></span>{{doctorInfo.consultationFees}}
                                        </li>
                                        <li class="list-group-item d-flex border-0 p-0 align-items-center">
                                            <span class="badge"><mat-icon>access_time</mat-icon></span><span class="text-success">{{checkAvailablity(doctorInfo.operationDays)}}</span>
                                        </li>
                                    </ul>
                                    <div class="text-center  mb-2">
                                        <a class="btn btn-primary btn-sm w-100 text-white" routerLink="{{getLink(doctorInfo)}}"  href="{{getLink(doctorInfo)}}" role="button" target="_blank"
                                        (click)="profileClickCall(doctorInfo)">View Profile</a>
                                    </div>
                                    <div class="text-center mb-2">
                                        <a class="btn btn-outline-success btn-sm justify-content-center w-100 d-flex align-items-center" 
                                        data-toggle="collapse" href="#contactClinicNo{{i}}" role="button" 
                                        aria-expanded="false" aria-controls="contactClinicNo" (click)="contactClickCall(doctorInfo)">
                                        <mat-icon class="mr-2"> call</mat-icon>Contact Clinic</a>
                                    </div>
                                    <div class="collapse" id="contactClinicNo{{i}}">
                                        <div class="pl-3">
                                            <p class="mb-0">Phone number</p>
                                            <h6 class="text-success mt-1">
                                                <a [href]="'skype:' + doctorInfo.contactNumber + '?call'  |safe: 'resourceUrl'" ><img src="./assets/skype-icon.png" alt="" width="30" height="30" class="mr-2"/></a>
                                                <a [href]="'whatsapp://send?text=How can i help you? or Call me!&phone=' + doctorInfo.contactNumber |safe: 'resourceUrl' "><img src="./assets/whatsapp-icon.png" alt="" width="30" height="30" class="mr-2"/></a>
                                                <a [href]="'tel:' + doctorInfo.contactNumber  |safe: 'resourceUrl'"><img src="./assets/call-icon.png" alt="" width="30" height="30" class="mr-2"/></a>
                                                <div class="mt-2 mb-3">{{doctorInfo.contactNumber}}</div>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <a class="btn btn-outline-secondary btn-sm justify-content-center w-100 d-flex align-items-center" (click)="openModal(doctorInfo)" href="#">
                                        <mat-icon class="mr-2"> call</mat-icon>Enquiry</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <ngb-pagination [collectionSize]="pageinationConfig.totalItems" [(page)]="pageinationConfig.page" 
            [maxSize]="4" [boundaryLinks]="true"
            (pageChange)="pageChange($event)" ></ngb-pagination>
        </div>
    </div>


    <div class="text-center mb-3" *ngIf="doctorListData.length == 0">
        <img src='./assets/no-data-found-images.png' class="img-fluid" alt="" />
    </div>
</div>