<div class="container-fluid mt-4">
    <app-search-nav (dataEvent)="receiveData($event)"></app-search-nav>

    <app-profile-list [doctorList]="doctorData" [pageinationConfig]="pageConfig" class="row" 
    (messageToEmit)="getPageChange($event)"></app-profile-list>



</div>