<div *ngIf="isLoading | async" class="kt-splash-screen">
    <!-- <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner> -->
    <!-- <img [attr.src]="loaderLogo" alt="Logo"> -->
    <mat-spinner diameter="40"></mat-spinner>
</div>