.overlay {
    position:fixed;
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(74,74,74,.8);
    z-index:99999;
  }
  .spinner {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  
  .kt-splash-screen {
    background-color: #f2f3f8;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 1002;
    top: 0;
    opacity: 0.5;
    img {
        width: 90px;
        margin-bottom: 30px;
    }
    ::ng-deep {
        .mat-progress-spinner circle, .mat-spinner circle {
            // brand color
            stroke: #5d78ff;
        }
    }
}